.posts{
  padding:1%;
}
.post{
  text-align center;
  padding: 5px;
  box-shadow: 1px 1px 1px #eee;
  background-color:#eee;
  border-radius: 8px;
}

section{
  margin-bottom: 5%;
}
h4{
  text-align:justify;
}
.jumbotron .primary-text{
  color:#337ab7;
}
